@font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2-variations');
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Pretendard';
  letter-spacing: -0.32px;
  scroll-behavior: smooth;
  color: #1B1716;
  word-break: keep-all;
}